html, body{
	max-width: 1146px;
    max-height: 670px;
    overflow: hidden;
}
body{
	display: inline-block;
	margin: 0px;
}

.hidden {
    display: none;
}

div.wrapper {
	width: 1146px;
    height: 670px;
    position: relative;
    overflow: hidden;
    background-color: #F1F5F6;
    display: -webkit-flex;
   	display: flex;
}

div.nav-wrapper{
	width: 105px;
    z-index: 9999;
    -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
}

div.content-wrapper{
	width: 100%;
	height: 100%;
	max-width: 1041px;
	max-height: 670px;
	overflow: hidden;
}

/*Home*/
video#my-video {
    height: 670px;
    width: 1041px;
    position: absolute;
    left: 105px;
    z-index: 1;
    overflow: hidden;
}

/*Specials*/
div.slide-cta {
	background-color: white;
}
.slick-slide img {
    display: inline-block;
}

.slickNav{
	display: absolute;
}

.slickNav button.slick-arrow {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 260px;
    width: 31px;
    height: 44px;
    border: none;
    outline: 0;
    text-indent: -9999px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

.slickNav button.slick-arrow.slick-prev {
    left: 30px;
    background: url(../Images/nav/left_arrow.png) no-repeat
}

.slickNav button.slick-arrow.slick-next {
    right: 30px;
    background: url(../Images/nav/right_arrow.png) no-repeat
}

.slickNav div{
	display: none;
}

.tmg-slide-wrapper button.slick-arrow:hover {
    top: 330px
}

/*button slick*/

.slick-arrow.slick-prev{
    display: inline-block;
    position: absolute;
    z-index: 9999;
    top: 260px;
    width: 31px;
    height: 44px;
    border: none;
    outline: 0;
    left: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    background-image: url("../Images/nav/left_arrow.png");
}
.slick-arrow.slick-next{
    display: inline-block;
    position: absolute;
    z-index: 9999;
    top: 260px;
    width: 31px;
    height: 44px;
    border: none;
    outline: 0;
    right: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    background-image: url("../Images/nav/right_arrow.png");
}

/*Explore*/


.onethird{
    display: inline-block;
    width: 342px;
    height: 259px;
}
/*
.onethird.passengercar{
    display: inline-block;
    width: 342px;
    height: 151px;
}
*/


.onethird.passengercar {
    display: inline-block;
    width: 342px;
    height: 160px;
    }

.slide-cta.passengercar{
	background-color: #F1F5F6;
}



.explorer .slickNav button.slick-arrow {
	top: 50px;
}

.explorer .slickNav{
    display: none;
}

.explorer .slickNav button.slick-arrow.slick-prev {
    left: 30px;
    background: url(../Images/nav/left_arrow-dark.png) no-repeat;
}

.explorer .slickNav button.slick-arrow.slick-next {
    right: 30px;
    background: url(../Images/nav/right_arrow-dark.png) no-repeat;
}

/*car*/

img.car-content.car-header{
	position: absolute;
    left: 165px;
    top: 60px;
}



div.car-content.car-copyblock{
	position: absolute;
    left: 165px;
    top: 320px;
    padding: 15px;
    background-color: white;
}

/*dealer*/
div.select-wrapper{
	position: absolute;
}

div.select-area{
	width: 433px;
    height: 187px;
    position: absolute;
    left: 46px;
    top: -515px;
    
}
	div.select-area.select-map {
    left: 746px;
    top: -625px;
    width: 226px;
    height: 52px;
}

div.select-area.select-one{
	left: 46px;
    top: -515px;
   
}
div.select-area.select-two{
	left: 546px;
    top: -515px;
    
}
div.select-area.select-three{
	left: 46px;
    top: -261px;
    
}
div.select-area.select-four{
	left: 546px;
    top: -261px;
    
}

/*map*/
div.select-area.map{
	width: 106px;
    height: 91px;
    position: absolute;  
}


div.select-area.map.select-one{
	left: 820px;
    top: -640px;
    
   
}
div.select-area.map.select-two{
    left: 387px;
    top: -550px;

    
}
div.select-area.map.select-three{
    left: 715px;
    top: -646px;

    
}
div.select-area.map.select-four{
    left: 440px;
    top: -172px;
    
}


/*Contact*/
		
		.formHeading{
			text-transform: uppercase;
			margin: 0px;
			font-size: 17px;
		}
        .inputForm{
            display: block;
            width:400px;
           	margin-top: 120px;
            margin-left: auto;
            margin-right: auto;
        }

        .textInput{
            width: 400px;
		    margin-left: 0px;
		    margin-top: 5px;
		    margin-bottom: 10px;
		    height: 25px;
		    border: solid 1px #dcdcdc;
        }

        .textInputLabel{
            margin-left: 0px;
        }

        .submitButton{
                background-color: #26aff0;
			    border: none;
			    color: white;
			    padding: 10px 70px;
			    text-align: center;
			    text-decoration: none;
			    display: inline-block;
			    font-size: 16px;
			    border-radius: 20px;
			    text-transform: uppercase;
			    font-weight: bold;
			    width: 50%;
			    margin-top: 10px;
        }

        form{
            margin-top: 30px;

        }

        h4{
            text-align: center;
        }

        h1{
            width: inherit;
            height: inherit;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }

        .thankYouView{
        	position: absolute;
        	top: 0px;
        	background-color: #F1F5F6;
            width: 1041px;
            height: 670px;
            display: none;
        }
        h1.thankYou{
        	margin-top: 250px;
        	height: auto;
        }






